# Data Science Tools and Ecosystems

### In this notebook, Data Science Tools and Ecosystem are **summarized**.

### **Objectives:**
- List popular Data Science Languages
- List some of the Data Science Libraries
- Name some of the Open-Source Data Science Development Environments
- Give examples of arithmetic evaluations

### Some of the popular languages that Data Scientists use are:

#### 1. Python
#### 2. R
#### 3. SQL
#### 4. Java
#### 5. Julia

### Some of the commonly used libraries used by Data Scientists include:

### **- Scientific computing libraries in Python:**

#### 1. Pandas
#### 2. NumPy

### **- Visualization libraries in Python:**

#### 1. Matplotlib
#### 2. Seaborn

### **- High level Machine Learning and Deep Learning libraries:**

#### 1. Scikit-learn
#### 2. Keras

### **- Deep Learning Libraries in Python:**

#### 1. TensorFlow
#### 2. PyTorch

|Data Science Tools|
|------------------|
|   Jupyter  |
|   RStudio   |
|   Spyder   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [32]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [36]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Luka Simic